<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>hi world</title>
</head>
<body>
<h1>hi world</h1>
<p>hi ${who} from <b>velocity</b></p>
<ul>
    <li>
        <a href='./'>hello world</a>
    </li>
    <li>
        <a href="hi">hi world</a>
    </li>
    <li>
        <a href="bye">bye world</a>
    </li>
</ul>
</body>
</html>